@font-face{
  font-family:'crewniverse_font';
  src: url('./data/crewniverse-font.ttf')
}

body {
  color:orange;
  font-family:'crewniverse_font';
  background-image: url('./images/background.png');
  background-size:100%;
  background-repeat:no-repeat;
}

.header {
  text-align:center;
  margin-top:2.2%;
}

.header__subtitle {
  margin-top:.2em;
  color:#d24111;
}

.quote-box {
  border:solid;
  padding-top:1em;
  margin-top:1.6%;
  margin-left:20%;
  margin-right:20%;
  text-align:center;
}

.quote-box--default {
  color:#d24111;
  border-color:#d24111;
  background-color:#ffe79e;
}

.quote-box--Amethyst {
  background-color:#B090B1;
  border-color:#766177;
  color:#553A56;
}
.quote-box--Connie {
  background-color:#C5FFE9;
  border-color:#89B2A3;
  color:#6D8E82;
}
.quote-box--Garnet {
  background-color:#B94C5C;
  border-color:#511921;
  color:#3E0009;
}
.quote-box--Greg {
  background-color:#FABD5A;
  border-color:#C89748;
  color:#3C2A2A;
}
.quote-box--Lapis {
  background-color:#8FC2F1;
  border-color:#729BC0;
  color:#516F89;
}
.quote-box--Pearl {
  background-color:#F2DCDD;
  border-color:#E1ADB0;
  color:#E1ADB0;
}
.quote-box--Peridot {
  background-color:#A7EEA7;
  border-color:#85BE85;
  color:#568F56;
}
.quote-box--Rose {
  background-color:#FCC9C3;
  border-color:#E2B4AF;
  color:#DE5A61;
}
.quote-box--Ruby {
  background-color:#FF4343;
  border-color:#A5192E;
  color:#56000C;
}
.quote-box--Sapphire {
  background-color:#A3DFF7;
  border-color:#82B2C5;
  color:#066589;
}
.quote-box--Steven {
  background-color:#E15D8A;
  border-color:#934B63;
  color:#873752;
}
.quote-box--Stevonnie {
  background-color:#C5FFE9;
  border-color:#6f9a94;
  color:#326F67;
}

.quote-box__image {
  border-radius:100%;
  text-align:center;
  width:35%;
}

.quote-box__body{
  font-size:1.1em;
}

.quote-box__attribution{
  font-size:1.3em;
}

.quote-box__button {
  margin: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}
